* {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.box {
    display: flex;
    flex-direction: row;
}


img {
    width: 200px;
    border-radius: 50%;
}

.container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

#nameBar {
    font-size: larger;
    font-weight: bolder;
}

.repos {
    width: 400px;
}